{% extends 'base.html' %}

    <!-- Theme mode -->
    {% block DarkMode %}
    <script>
      let mode = window.localStorage.getItem('mode'),
          root = document.getElementsByTagName('html')[0];
      if (mode !== null && mode === 'dark') {
        root.classList.add('dark-mode');
      } else {
        root.classList.remove('dark-mode');
      }
    </script>
    {% endblock DarkMode %}

    
  
{% block MainBody %} 
  <!-- Body -->
  <body class="dark-mode">

        <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

      <section class="position-relative h-100 pt-5 pb-4">

        <!-- Sign in form -->
        <div class=" d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
          <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 50%;">
            <h1 class="text-center text-xl-start">Create Account</h1>
            <p class="text-center text-xl-start pb-3 mb-3">Already have an account? <a href="/user/login/">Sign in here.</a></p>
            <form id="signup_form" class="needs-validation mb-2">
              <div class="row">
                <div class="col-sm-6">
                  <div class="position-relative mb-4">
                    <label for="first_name" class="form-label fs-base">First name</label>
                    <input type="text" id="first_name" name="first_name" value="{{first_name}}" class="form-control form-control-lg" required>
                    <div class="invalid-feedback position-absolute start-0 top-100">Please enter your name!</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="position-relative mb-4">
                    <label for="last_name" class="form-label fs-base">Last name</label>
                    <input type="text" id="last_name" name="last_name" value="{{last_name}}" class="form-control form-control-lg">
                    <div class="invalid-feedback position-absolute start-0 top-100">Please enter your name!</div>
                  </div>
                </div>
              </div>
              <div class="position-relative mb-4">
                <label for="email" class="form-label fs-base">Email</label>
                <input type="email" id="email" name="email" value="{{email}}" class="form-control form-control-lg" required>
                <div class="invalid-feedback position-absolute start-0 top-100">Please enter a valid email address!</div>
              </div>
              <div class="position-relative mb-4">
                <label for="username" class="form-label fs-base">Username</label>
                <input type="text" id="username" name="username" value="{{username}}" class="form-control form-control-lg" required>
                <div class="invalid-feedback position-absolute start-0 top-100">Please enter a valid username address!</div>
              </div>
              <div class="mb-4">
                <label for="password" class="form-label fs-base">Password</label>
                <div class="password-toggle">
                  <input type="password" id="password" name="password" class="form-control form-control-lg" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox">
                    <span class="password-toggle-indicator"></span>
                  </label>
                  <div class="invalid-feedback position-absolute start-0 top-100">Please enter your password!</div>
                </div>
              </div>
              <div class="mb-4">
                <label for="confirm_password" class="form-label fs-base">confirm Password</label>
                <div class="password-toggle">
                  <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox">
                    <span class="password-toggle-indicator"></span>
                  </label>
                  <div class="invalid-feedback position-absolute start-0 top-100">Please enter your confirm password!</div>
                </div>
              </div>
              <div class="mb-4">
                <div class="form-check">
                  <input type="checkbox" id="terms" class="form-check-input" required>
                  <label for="terms" class="form-check-label fs-base">I agree to <a href="#">Terms &amp; Conditions</a></label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Sign up</button>
            </form>
            <hr class="my-4">
            <h6 class="text-center mb-4">Or sign up with your social network</h6>
            <div class="row row-cols-1 row-cols-sm-2">
              <div class="col mb-3">
                <a href="/login/google/" class="btn btn-icon btn-secondary btn-google btn-lg w-100">
                  <i class="bx bxl-google fs-xl me-2"></i>
                  Google
                </a>
              </div>
              <div class="col mb-3">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-lg w-100">
                  <i class="bx bxl-facebook fs-xl me-2"></i>
                  Facebook
                </a>
              </div>
            </div>
          </div>
          <div class="w-100 align-self-end">
            <p class="nav d-block fs-xs text-center text-xl-start pb-2 mb-0">
              &copy; All rights reserved. 
              <a class="nav-link d-inline-block p-0" href="index.html" target="_blank" rel="noopener"><span class="pai">Perception AI<span></a>
            </p>    
          </div>
        </div>
        
        <!-- Background -->
        <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url({{ url_for('static', path='assets/img/account/signin-bg.jpg') }})"></div>
      
        </div>
        
        <!-- Background -->
        <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url({{ url_for('static',path='assets/img/account/signin-bg.jpg')}} )"></div>
      </section>

      <!-- Page content -->
      <!-- <section class="position-relative h-100 pt-5 pb-4">

        <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
          <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
            <h1 class="text-center text-xl-start">Create Account</h1>
            
            <form id="signup_form" class="needs-validation mb-2" >
              <div class="row">
                
              </div>
                <div class="col-12 mb-4">
                  <label for="email" class="form-label fs-base">Email</label>
                  <div class="password-toggle">
                    <input type="email" id="email" name="email" value="{{email}}" class="form-control form-control-lg" required>
                    <div class="invalid-feedback position-absolute start-0 top-100">Please enter a password!</div>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <label for="username" class="form-label fs-base">Username</label>
                  <div class="password-toggle">
                    <input type="text" id="username" name="username" value="{{username}}" class="form-control form-control-lg" required>
                    <div class="invalid-feedback position-absolute start-0 top-100">Please enter a password!</div>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <label for="password" class="form-label fs-base">Password</label>
                  <div class="password-toggle">
                    <input type="password" id="password" value="" name="password" class="form-control form-control-lg" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox">
                      <span class="password-toggle-indicator"></span>
                    </label>
                    <div class="invalid-feedback position-absolute start-0 top-100">Please enter a password!</div>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <label for="confirm_password" class="form-label fs-base">Confirm password</label>
                  <div class="password-toggle">
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox">
                      <span class="password-toggle-indicator"></span>
                    </label>
                    <div class="invalid-feedback position-absolute start-0 top-100">Please enter a password!</div>
                  </div>
                </div>
              
              <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Sign up</button>
            </form>
            <hr class="my-4">
            <h6 class="text-center mb-4">Or sign up with your social network</h6>
            <div class="row row-cols-1 row-cols-sm-2">
              <div class="col mb-3">
                <a href="#" class="btn btn-icon btn-secondary btn-google btn-lg w-100">
                  <i class="bx bxl-google fs-xl me-2"></i>
                  Google
                </a>
              </div>
              <div class="col mb-3">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-lg w-100">
                  <i class="bx bxl-facebook fs-xl me-2"></i>
                  Facebook
                </a>
              </div>
            </div>
          </div>
          <div class="w-100 align-self-end">
            <p class="nav d-block fs-xs text-center text-xl-start pb-2 mb-0">
              &copy; All rights reserved. 
              <a class="nav-link d-inline-block p-0" href="index.html" target="_blank" rel="noopener"><span class="pai">Perception AI<span></a>
            </p>    
          </div>
        </div>
        
  
        <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url({{ url_for('static', path='assets/img/account/signin-bg.jpg') }})"></div>
      </section> -->
    </main>
    
  </body>
  {% endblock MainBody%}
